<template>
  <div class="character-full-card">
    <div class="character-full-card__avatar">
      <img :src="avatar" :alt="id"/>
    </div>
    <div class="character-full-card__info">
      <div class="character-full-card__info-name">
        {{ name }}
      </div>
      <div class="character-full-card__info-status">
        {{ status }} - {{ species }}
      </div>

      <div class="character-full-card__info-label">
        Пол:
      </div>
      <div class="character-full-card__info-data">
        {{ gender }}
      </div>

      <div class="character-full-card__info-label">
        Последнее место дислокации:
      </div>
      <div class="character-full-card__info-data">
        {{ location }}
      </div>

      <div class="character-full-card__info-label">
        Появился в эпизоде:
      </div>
      <div class="character-full-card__info-data">
        {{ episodeName }}
      </div>
    </div>
  </div>
</template>

<script>
import http from "@/helpers/http";

export default {
  name: "CharacterFullCard",
  props: {
    id: Number,
    avatar: String,
    name: String,
    gender: String,
    status: String,
    location: String,
    species: String,
    episode: String,
  },
  data() {
    return {
      loadingEp: false,
      episodeName: '',
    }
  },
  async mounted() {
    let firstEp = this.episode.split('/');
    firstEp = firstEp[firstEp.length - 1];
    await this.LoadLocation(firstEp);
  },
  methods: {
    async LoadLocation(ep) {
      let response = await http.get(`episode/${ep}`);
      this.episodeName = response.name;
    }
  }
}
</script>

<style lang="scss">
  .character-full-card {
    display: flex;
    flex-flow: row wrap;
    width: 600px;
    border-radius: 0.5rem;
    padding: 20px;
    margin: 0.75rem;
    background-color: rgb(60, 62, 68);
    box-shadow: 0 0 10px rgb(222, 0, 225);

    &__avatar{
      flex: 0 0 30%;
      justify-content: stretch;
      align-content: flex-start;
      border-bottom-left-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      text-align: center;

      img {
        width: 200px;
        height: 200px;
      }
    }

    &__info {
      flex: 0 0 40%;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: flex-start;
      padding: 0 0.75rem;
      color: rgb(255, 255, 255);

      &-name {
        flex: 0 0 100%;
        font-size: 1.5rem;
        font-weight: 800;
      }

      &-status {
        flex: 0 0 100%;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
      }

      &-label {
        flex: 0 0 100%;
        color: rgb(158, 158, 158);
      }

      &-data {
        flex: 0 0 100%;
        margin-bottom: 10px;
      }
    }
  }
</style>