<template>
  <div class="character-page">
    <character-full-card
        v-if="!loading"
        v-bind:id="character.id"
        v-bind:avatar="character.image"
        v-bind:name="character.name"
        v-bind:gender="character.gender"
        v-bind:status="character.status"
        v-bind:location="character.location.name"
        v-bind:species="character.species"
        v-bind:episode="character.episode[0]"
    />
  </div>
</template>

<script>
import http from "@/helpers/http";
import CharacterFullCard from "@/pages/characterPage/components/CharacterFullCard";

export default {
  name: "CharacterPage",
  components: {CharacterFullCard},
  data() {
    return {
      loading: true,
      character: undefined,
    }
  },
  async mounted() {
    this.loading = true;
    await this.loadData();
    this.loading = false;
  },
  methods: {
    async loadData() {
      let response = await http.get(`character/${this.$route.params.id}`);
      console.log(response);
      this.character = response;
    }
  }
}
</script>

<style lang="scss">
  .character-page {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 0 12%;
    background-color: rgb(36, 40, 47);
    color: white;

  }
</style>