<template>
  <div class="main-page">
    <character-card class="main-page__character-card" v-for="character in characters"
      v-bind:key="character.id"
      v-bind:id="character.id"
      v-bind:avatar="character.image"
      v-bind:name="character.name"
      v-bind:status="character.status"
      v-bind:location="character.location.name"
      v-bind:species="character.species"
      v-bind:episode="character.episode[0]"
      v-on:click="$router.push('/character/' + character.id)"
    />
  </div>
</template>

<script>
import CharacterCard from "@/pages/mainPage/components/CharacterCard";
import http from "@/helpers/http";

export default {
  name: "MainPage",
  components: {
    CharacterCard
  },
  data() {
    return {
      characters: [],
      pagination: {
        currentPage: 1,
        nextPage: 2,
        lastPage: undefined,
        isLoading: false,
      }
    }
  },
  async mounted() {
    this.$nextTick(function() {
      window.addEventListener('scroll', this.onScroll);
      this.onScroll();
    });
    await this.LoadCharacters();
    console.log(this.characters);
  },
  methods: {
    async LoadCharacters() {
      this.pagination.isLoading = true;
      let response = await http.get('character');
      this.pagination.lastPage = response.info.pages;
      this.characters = response.results;
      this.pagination.isLoading = false;
    },
    async LoadMoreCharacters() {
      if (!this.pagination.isLoading && this.pagination.currentPage !== this.pagination.lastPage) {
        this.pagination.isLoading = true;
        let response = await http.get('character', {page: this.pagination.nextPage});
        this.pagination.currentPage = this.pagination.nextPage;
        this.pagination.nextPage = this.pagination.nextPage + 1;
        console.log(response);
        this.characters = this.characters.concat(response.results);
        this.pagination.isLoading = false;
      }
    },
    async onScroll() {
      if (!this.pagination.isLoading){
        let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight
        if (bottomOfWindow) {
          await this.LoadMoreCharacters();
        }
      }
    }
  },
  beforeUnmount() {
    window.removeEventListener('scroll', this.onScroll);
  }
}
</script>

<style lang="scss">
  .main-page {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    padding: 0 12%;
    background-color: rgb(36, 40, 47);

    &__character-card:hover {
      box-shadow: 0 0 10px rgb(0, 243, 0);
      cursor: pointer;
    }
  }

  body {
    padding: 0;
    margin: 0;
    width: 100%;
  }
</style>